#banner {
	float: flex;
	height: 600px;
}

#topbanner-textarea {
	width: 40%;
	height: 50%;
	margin: auto;
	padding: auto;
	border: 1px solid black;
	display: flex;
	background: black;
	opacity: 0.4;
}

#topbanner-text {
	font-size: 40px;
	font-weight: 500;
	margin: auto;
	color: white;
}

#utilBox {
	width: 100%;
	height: 50px;
	margin-top: 50px;
}

#searchBox {
	width: 35%;
	height: 100%;
	float: left;
	margin-right: 10px;
}

#writeBtn {
	float: right;
}

section {
	display: block;
	margin: 0;
	padding: 0;
	color: #222;
	font-size: 14px;
	font-family: "Roboto", "Noto Sans KR", AppleSDGothicNeo-Regular,
		"Malgun Gothic", "맑은 고딕", dotum, "돋움", sans-serif;
	line-height: 1.25em;
	word-wrap: break-word;
}

div {
	display: block;
}

.article-list {
	overflow: hidden;
	display: flex;
	-ms-display: flexbox;
	flex-wrap: wrap;
}

.article-list .article-list-pre {
	position: relative;
	width: 100%;
	margin: 0 20px;
	padding: 24px 0;
	border-bottom: 1px solid #eee;
}

.article-list .article-list-pre .tit {
	position: relative;
}

.article-list .article-list-pre h3 {
	margin-top: 2px;
}

.article-list .article-list-pre:nth-child(2n) {
	width: 50%;
	padding-left: 20px;
	border-left: 1px solid #eee;
}

.article-list .article-list-pre {
	width: 50%;
	margin: 0;
	box-sizing: border-box;
	padding-top: 39px;
}

.name {
	margin-bottom: 5px;
}

.wrap-info {
	position: relative;
	margin-top: 8px;
	font-size: 15px;
}

.wrap-info i {
	margin-right: 14px;
}

.wrap-info .info_fnc {
	position: absolute;
	top: 0;
	right: 0;
}

.wrap-info .info_fnc #bookmark {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	padding: 2px;
	box-sizing: border-box;
}

.article-list .article-list-pre .attach-img {
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
	display: block;
	width: 100px;
	height: 100px;
	background-color: #e7e7e7;
}

.attach-img {
	position: relative;
	display: inline-block;
	margin-top: 24px;
	margin-right: 24px;
}

.article-list .article-list-pre .attach-img img {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
}