<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board2Mapper">

	<select id="selectBlahBlahList" resultType="Board">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEM_NICK, BOARD_DATE, BOARD_VIEW FROM BOARD, MEMBER 
		WHERE TYPE_NO = 4 AND MEMBER.MEM_NO = BOARD.MEM_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<select id="selectBlahBlahTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
		
</mapper>