<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board2Mapper">

<!-- 공통 게시판 -->
	<!-- 게시글 상세 조회 -->
	<select id="selectOneBoard" parameterType="_int" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE BOARD_NO = #{board_No} AND M.MEM_NO = B.MEM_NO
	</select>
	
	<!-- 첨부파일 조회 -->
	<select id="selectAttachmentList" parameterType="_int" resultType="Attachment">
		SELECT * FROM ATTACHMENT WHERE BOARD_NO = #{board_No}
	</select>
	
	<!-- 조회수 증가 -->
	<update id="updateReadCount" parameterType="_int">
		UPDATE BOARD
		SET BOARD_VIEW = BOARD_VIEW + 1
		WHERE BOARD_NO = #{board_No}
	</update>
	
	<!-- 게시글 삭제 -->
	<update id="deleteBoard" parameterType="_int">
		UPDATE BOARD
		SET BOARD_STATUS = 'N'
		WHERE BOARD_NO = #{board_No}
	</update>
	
	<!-- 게시글 추가 -->		
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO BOARD 
		(BOARD_NO, TYPE_NO, MEM_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_STATUS, BOARD_VIEW)
		VALUES
		(BOARD_SEQ.NEXTVAL, #{type_No}, #{mem_No}, #{board_Title}, #{board_Content}, DEFAULT, DEFAULT, DEFAULT)
	</insert>
	
	<!-- 게시글 수정 -->
	<update id="updateBoard" parameterType="Board">
		UPDATE BOARD 
		SET BOARD_TITLE = #{board_Title},
			BOARD_CONTENT = #{board_Content}
		WHERE BOARD_NO = #{board_No}
	</update>
	
<!-- 블라블라 게시판 -->
	<!-- 블라블라 리스트 -->
	<select id="selectBlahBlahList" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 4 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- 블라블라 게시글 수 -->
	<select id="selectBlahBlahTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 4 AND BOARD_STATUS = 'Y' 
	</select>

	<!-- 블라블라 검색 -->
	<select id="searchBlahList" resultType="Board" parameterType="string">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 4 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- 블라블라 검색된 게시글 수 -->
	<select id="searchBlahTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 4 AND BOARD.BOARD_TITLE LIKE '%' || #{keyword} || '%'
	</select>
	
<!-- 블라인드 게시판 -->
	<!-- 블라인드 리스트 -->
	<select id="selectBlindList" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 5 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>

	<!-- 블라인드 게시글 수 -->
	<select id="selectBlindTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 5 AND BOARD_STATUS = 'Y' 
	</select>
	
	<!-- 블라인드 검색 -->
	<select id="searchBlindList" resultType="Board" parameterType="string">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 5 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- 블라인드 검색된 게시글 수 -->
	<select id="searchBlindTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 5 AND BOARD.BOARD_TITLE LIKE '%' || #{keyword} || '%'
	</select>

<!-- QnA 게시판 -->	
	<!-- QnA 리스트 -->
	<select id="selectQnAList" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 7 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>

	<!-- QnA 게시글 수 -->
	<select id="selectQnATotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 7 AND BOARD_STATUS = 'Y' 
	</select>
	
	<!-- QnA 검색 -->
	<select id="searchQnAList" resultType="Board" parameterType="string">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 7 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- QnA 검색된 게시글 수 -->
	<select id="searchQnATotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 7 AND BOARD.BOARD_TITLE LIKE '%' || #{keyword} || '%'
	</select>
	
<!-- 채용공고 게시판 -->
	<!-- 채용공고 리스트 -->
	<select id="selectJobList" resultType="Board">
		SELECT B.*, M.MEM_NICK, C.*, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M, CATEGORY C
		WHERE TYPE_NO = 2 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND C.CATEGORY_NO = B.CATEGORY_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>

	<!-- 채용공고 게시글 수 -->
	<select id="selectJobTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 2 AND BOARD_STATUS = 'Y' 
	</select>
	
	<!-- 채용공고 검색 -->
	<select id="searchJobList" resultType="Board" parameterType="string">
		SELECT B.*, M.MEM_NICK, C.*, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M, CATEGORY C
		WHERE TYPE_NO = 2 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND
			  C.CATEGORY_NO = B.CATEGORY_NO AND B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- 채용공고 검색된 게시글 수 -->
	<select id="searchJobTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 2 AND BOARD.BOARD_TITLE LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 채용공고 카테고리 검색 -->
	<select id="categorySearchJobList" resultType="Board" parameterType="_int">
		SELECT B.*, M.MEM_NICK, C.*, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M, CATEGORY C
		WHERE TYPE_NO = 2 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND
			C.CATEGORY_NO = B.CATEGORY_NO AND B.CATEGORY_NO = #{category_No}
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<!-- 채용공고 카테고리 검색된 게시글 수 -->
	<select id="categorySearchJobTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD WHERE TYPE_NO = 2 AND BOARD.CATEGORY_NO = #{category_No}
	</select>
	
	<!-- 채용공고 글쓰기 -->
	<insert id="insertJob" parameterType="Board">
		INSERT INTO BOARD
		(BOARD_NO, TYPE_NO, MEM_NO, CATEGORY_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_DATE, BOARD_STATUS, BOARD_VIEW,
		 BOARD_URL, BOARD_START, BOARD_END, BOARD_ANNOUNCE)
		VALUES
		(BOARD_SEQ.NEXTVAL, #{type_No}, #{mem_No}, #{category_No}, #{board_Title}, #{board_Content}, DEFAULT, DEFAULT, DEFAULT,
		#{board_Url}, #{board_Start}, #{board_End}, #{board_Announce})
	</insert>
	
	<!-- 채용공고 게시글 수정 -->
	
	<!-- 채용공고 게시글 상세보기 -->
	<select id="selectOneJob" parameterType="_int" resultType="Board">
		SELECT B.*, M.MEM_NICK, C.*, (SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO AND COMM_STATUS = 'Y') COMM_COUNT
		FROM BOARD B, MEMBER M, CATEGORY C
		WHERE BOARD_NO = #{board_No} AND M.MEM_NO = B.MEM_NO AND B.CATEGORY_NO = C.CATEGORY_NO
	</select>

</mapper>