<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board2Mapper">

<!-- 자유게시판(블라블라) 조회 -->
	<select id="selectBlahBlahList" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO) COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE TYPE_NO = 4 AND BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO
		ORDER BY BOARD_DATE DESC, BOARD_NO DESC
	</select>
	
	<select id="selectBlahBlahTotalContents" resultType="_int">
		SELECT COUNT(*) FROM BOARD
	</select>
	

	<select id="selectOneBlah" parameterType="_int" resultType="Board">
		SELECT B.*, M.MEM_NICK,(SELECT COUNT(*) FROM COMMENTS WHERE BOARD_NO = B.BOARD_NO) COMM_COUNT
		FROM BOARD B, MEMBER M
		WHERE BOARD_NO = #{board_No} AND M.MEM_NO = B.MEM_NO
	</select>
	
	<select id="selectAttachmentList" parameterType="_int" resultType="Attachment2">
		SELECT * FROM ATTACHMENT WHERE BOARD_NO = #{board_No}
	</select>
	
	<update id="updateBlahReadCount" parameterType="_int">
		UPDATE BOARD
		SET BOARD_VIEW = BOARD_VIEW + 1
		WHERE BOARD_NO = #{board_No}
	</update>
		
</mapper>