<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chatMapper">

	<select id="selectChatList" resultType="hashmap">
		SELECT * FROM CHAT
		ORDER BY CHAT_NO DESC
	</select>
	
	<select id="selectChatTotalContents" resultType="_int">
		SELECT COUNT(*) FROM CHAT
	</select>
	
	<insert id="insertChat" parameterType="Chat">
		INSERT INTO CHAT
		VALUES (#{chatNo}, #{chatTitle}, #{chatDate})
	</insert>
	
	<select id="selectChatSeq" resultType="_int">
		SELECT
		CHAT_SEQ.NEXTVAL FROM DUAL
	</select>

</mapper>