<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC
"-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="indexMapper">
	
<!-- 랭킹 -->

	<select id="selectAllCount" resultType="HashMap" parameterType="string">
		select 
			(select count(category_no) from wish_category where category_no = 1) as office,
	        (select count(category_no) from wish_category where category_no = 2) as marketing,
	        (select count(category_no) from wish_category where category_no = 3) as media,
	        (select count(category_no) from wish_category where category_no = 4) as market,
	        (select count(category_no) from wish_category where category_no = 5) as service,
	        (select count(category_no) from wish_category where category_no = 6) as research,
	        (select count(category_no) from wish_category where category_no = 7) as medicine,
	        (select count(category_no) from wish_category where category_no = 8) as architecture,
	        (select count(category_no) from wish_category where category_no = 9) as edu,
	        (select count(category_no) from wish_category where category_no = 10) as production,
	        (select count(category_no) from wish_category where category_no = 11) as trade
		from dual
	</select>
	
	<select id="selectCarouselList" resultType="HashMap" parameterType="string">
		SELECT CL.BOARD_NO, CL.BOARD_TITLE, CL.BOARD_CONTENT, CL.BOARD_VIEW, CL.MEM_NICK, CL.TYPE_NAME, CL.TYPE_NO, CL.COMM_COUNT, CL.BOARD_DATE
        FROM (SELECT B.BOARD_NO, B.BOARD_DATE, B.BOARD_TITLE, B.BOARD_CONTENT, B.BOARD_VIEW, T.*, M.MEM_NICK, (SELECT COUNT(*) FROM COMMENTS C WHERE C.BOARD_NO = B.BOARD_NO AND C.COMM_STATUS = 'Y' ) COMM_COUNT
                        FROM BOARD B, MEMBER M, BOARDTYPE T  
                        WHERE B.BOARD_STATUS='Y' AND M.MEM_NO = B.MEM_NO AND B.TYPE_NO = T.TYPE_NO 
                        ORDER BY BOARD_VIEW DESC) CL
        <![CDATA[
      	WHERE ROWNUM < 11
      	]]>
	</select>
	

</mapper>