<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC
"-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>

	<typeAliases>
		<typeAlias type="com.kh.joba.user.board.model.vo.Board1" alias="Board1" /> 	
		<typeAlias type="com.kh.joba.user.board2.model.vo.Board2" alias="Board" /> 
		<typeAlias type="com.kh.joba.user.member.model.vo.Member" alias="Member" />
		<typeAlias type="com.kh.joba.user.board2.model.vo.Attachment2" alias="Attachment2"/>
		<typeAlias type="com.kh.joba.user.comments2.model.vo.Comments2" alias="Comments2"/>
		<typeAlias type="com.kh.joba.user.chat.model.vo.Chat" alias="Chat"/>
		<typeAlias type="com.kh.joba.user.chat.model.vo.ChatRoom" alias="ChatRoom"/>
	</typeAliases>
	
	<typeHandlers>
		<package name="com.kh.joba.user.common.typeHandler"/>
	</typeHandlers>
</configuration>